#about {
    padding-top: 10%;
    padding-left: 45%;
    padding-bottom: 25%;
}

#about-description {
    padding-top: 5%;
    max-width: 95%;
}

@media only screen and (max-width: 600px) {
    #about {
      height: unset;
      padding-left: unset;
      padding-right: unset;
      padding-top: 30%;
    }
  
    .about-description {
      font-size: 18px;
      text-align: justify;
    }
    
  }
  