#about {
    padding-bottom: 25%;
    position: relative; 
    display: flex;
}

#about-description {
    padding-top: 5%;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    #about {
      height: unset;
      padding-left: unset;
      padding-right: unset;
      padding-top: 30%;
    }
  
    .about-description {
      font-size: 18px;
      text-align: justify;
    }
    
  }
  