#experience {
  padding-top: 10%;
  padding-bottom: 25%;
}

.experience-content {
  padding-top: 10%;
}

.container {
  padding-left: 80px;
  padding-bottom: 100px;
  position: relative;
  width: 800px;
}

.right::after {
  left: 0;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.date {
  font-family: 'NTR', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #a0fb8e;
}

.company {
  font-family: 'NTR', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #a0fb8e;
}

@media only screen and (max-width: 600px) {

  #experience {
    text-align: center;
    padding-left: 5%;
    padding-bottom: 25%;
  }

  .container {
    padding: 0;
    width: unset;
  }

  .container::after {
    display: none;
  }

    #experience {
    padding-left: unset;
    padding-right: unset;
  }

  .jss1 {
    height: unset !important;
    flex-direction: column !important;
  }

  .makeStyles-root-1 {
    height: unset !important;
    width: unset;
    flex-direction: column;
  }

  .joblist-job-title {
    font-size: 22px;
  }

  .joblist-job-company {
    font-size: 22px;
  }
}
