#experience {
  padding-top: 10%;
  padding-left: 40%;
  padding-bottom: 25%;
}

.experience-content {
  padding-top: 5%;
}

.container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -17px;
  background-color: #a0fb8e;
  top: 14px;
  border-radius: 50%;
  z-index: 1;
}

.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #a0fb8e;
  top: 0;
  bottom: 0;
  margin-left: 7px;
}

.container {
  padding: 10px 100px;
  position: relative;
  width: 100%;
}

.right::after {
  left: 0;
}

.date {
  font-family: 'NTR', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #a0fb8e;
}