#home {
  padding-top: 10%;
  position: relative; 
  display: flex;
  justify-content: center;
  z-index: 1;
}

.box {
  background: url("../assets/me.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: 350px;
  animation: animate 10s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.email-button {
  font-size: 22px !important;
  font-family: "NTR", sans-serif !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: none !important;
  background: #a0fb8e !important;
  color: #0f2634 !important;
  transition: all 0.3s ease-in-out;
  transform: translateX(50px); 
}

.email-button:hover {
  color: #0f2634 !important;
  background: #028aa2 !important;
}

.button-section {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.span-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Typist {
  font-size: 50px;
  display: inline-block;
}

.Typist .Cursor--blinking {
  color: white;
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 32px !important;
    white-space: nowrap;
  }

  #home {
    left: 25%;
  }

  .box {
    height: 200px;
    width: 200px;
  }

  .Typist {
    font-size: 32px;
  }
}
