.navbar {
  background-color: var(--bg) !important;
  font-family: 'NTR', sans-serif;
  font-weight: bold;

  padding: 0.5rem 1rem;
  height: auto;
}

.ml-auto {
  display: none;
}

.sun-icon {
  margin-left: auto;
  display: flex;
  align-items: center;
}
  
  .navbar .container,
  .navbar .container-fluid {
    padding-left: 0 !important; 
    padding-top: 0;
    padding-bottom: 0;
  }
  
  @media only screen and (max-width: 1000px) {

    .navbar-light .navbar-brand  {
        display: none;
    }
  
    .navbar-light .navbar-nav.me-auto .nav-link {
        display: none;
      }

    .ml-auto {
        display: flex;
    }

    .name {
      display: none;
    }
  }