  #nav {
      color: #6ee78f;
      font-size: 22px;
      font-family: 'NTR';
      font-weight: bold;
      line-height: 130%;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    left: 0;
    padding-left: 5%;
    top: 10%;
    background-color: transparent;
  }

  .sidebar-logos {
    padding-top: 660px;
    height: 5px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
  }