@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

/* styles */

.content {
  padding-top: 30%;
  padding-right: 25%;
  padding-left: 25%;
}

a {
  text-decoration: none !important;
  color: #a0fb8e !important;
}

a:hover {
  color: #028aa2 !important;
}

body {
  background-color: #0b1b25 !important;
}

h1 {
  font-family:'Inter', sans-serif !important;
  font-feature-settings: "ss03","cv02","cv11" !important;
  font-size: 48px !important;
  font-weight: 700 !important;
  color: #e5f6f7 !important;
  display: inline-block;
}

h2 {
  font-family:'Inter', sans-serif !important;
  font-feature-settings: "ss03","cv02","cv11" !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  color: #e5f6f7 !important;
  
}

h3 {
  font-size: 24px !important;
  font-weight: bold !important;
  font-family: 'NTR', sans-serif !important;
  color: #a0fb8e !important;
}

p {
  color: #e5f6f7 !important;
  line-height: 2em !important;
  font-family: 'Inter', sans-serif !important;
    font-feature-settings: "ss03","cv02","cv11" !important;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  
  .page {
    flex-direction: column;
    padding: 40px 24px;
  }

  .content {
    padding: 0%;
  }

  p {
    text-align: center;
    max-width: unset;
  }

}
