@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

/* styles */

:root {
  --bg: #0b1b25;
  --text: #e5f6f7;
  --highlight: #a0fb8e;
  --hover-highlight: #028aa2;
  --button-text: #0f2634;
}

body.light-mode {
  --bg: #ece6de;
  --text: #0c3249;
  --highlight: #7fb86c;
  --hover-highlight: #028aa2;
  --button-text: #0f2634;
}

body {
  background-color: var(--bg) !important;
  color: var(--text);
}

a {
  color: var(--highlight);
}

.content {
  padding-top: 30%;
  padding-right: 25%;
  padding-left: 25%;
}

a {
  text-decoration: none !important;
  color: var(--highlight) !important;
}

a:hover {
  color: var(--hover-highlight) !important;
}

h1 {
  font-family:'Inter', sans-serif !important;
  font-feature-settings: "ss03","cv02","cv11" !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: var(--text) !important;
  display: inline-block;
}

h2 {
  font-family:'Inter', sans-serif !important;
  font-feature-settings: "ss03","cv02","cv11" !important;
  font-size: 1.25rem !important;
  font-weight: 400 !important;
  color: var(--text) !important;
  
}

h3 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  font-family: 'NTR', sans-serif !important;
  color: var(--text) !important;
}

p {
  color: var(--text);
  line-height: 2em !important;
  font-family: 'Inter', sans-serif !important;
    font-feature-settings: "ss03","cv02","cv11" !important;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1000px) {
  
  .page {
    flex-direction: column;
    padding: 2.5rem 1.5rem;
  }

  .content {
    padding: 5%;
  }

  p {
    text-align: center;
    max-width: unset;
  }

}

@media only screen and (max-width: 600px) {
  
  .page {
    flex-direction: column;
    padding: 2.5rem 1.5rem;
  }

  .content {
    padding: 0%;
  }

  p {
    text-align: center;
    max-width: unset;
  }

}
